<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Client Form</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h3>Заполнение анкеты</h3>
        <hr>
        <form action="#" th:action="@{/credit/saveForm}"
              th:object="${form}" method="post">
            <input type="hidden" th:field="*{id}">
            <hr>
            <input type="text" required th:field="*{lastName}"
                class="form-control mb-4 col-4" placeholder="Фамилия">
            <input type="text" required th:field="*{firstName}"
                   class="form-control mb-4 col-4" placeholder="Имя">
            <input type="text" th:field="*{patronymic}"
                   class="form-control mb-4 col-4" placeholder="Отчество">
            <input type="date" required th:field="*{dateOfBirth}"
                   class="form-control mb-4 col-4" placeholder="Дата рождения">
            <input type="text" required pattern="^\d{4}$" title="Серия паспорта в формате 0000" th:field="*{passportSer}"
                   class="form-control mb-4 col-4" placeholder="Серия паспорта">
            <input type="text" required pattern="^\d{6}$" title="Номер паспорта в формате 000000" th:field="*{passportNum}"
                   class="form-control mb-4 col-4" placeholder="Номер паспорта">
            <input type="text" th:field="*{address}"
                   class="form-control mb-4 col-4" placeholder="Адрес">
            <p>
                <input required type="checkbox" name="privacy">
                <a href="#" target="_blank">Согласие на обработку персональных данных</a>
            </p>
            <button type="submit" class="btn btn-success col-2">Сохранить</button>
            <a th:href="@{/client/profile}"
               class="btn btn-primary col-2">
                Назад
            </a>
        </form>

    </div>

</body>

</html>